ADDR=:8080
DB_URL=postgres://postgres:password@db:5432/url_shortener?sslmode=disable
REDIS_URL=redis://:password@redis-server:6379/0
BASE_URL=http://localhost:8080
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL=24h
ACCESS_TOKEN_SECRET=your_access_token_secret
REFRESH_TOKEN_SECRET=your_refresh_token_secret
OAUTH_STATE_TTL=5m

COOKIE_SECURE=false
COOKIE_DOMAIN=example.com
COOKIE_SAME_SITE=lax